<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Error 404 (Not found)!!</title>
    </head>
    <body>
        <h2>Page not found</h2>
        <div>
            <p class="url"><a href="#!"><%= url %></a></p>
            <p>The above page was not found on our server</p>
            <p>Alternatively, you can visit the <a href="/">Main page</a></p>
        </div>
    </body>
</html>
