<%- include('partials/header'); %>
<title>Error 404 (Not Found)!!</title>
<%- include('partials/layout'); %>
<main>
  <h2 class="center">Page not found</h2>
  <div class="container center">
    <img src="/assets/img/404.svg" alt="" width="720" class="img-fluid">
  </div>
  <p></p>
  <div class="container center">
      <p class="url"><a href="#!"><%= url %></a></p>
      <p class="lead">Oops! The above page was not found on our server</p>
      <p><a href="/" class="btn btn-dark d-inline-flex align-items-center justify-content-evenly">
        <i class="bi bi-arrow-left p-1"></i>Back to homepage
      </a></p>
  </div>
</main>
<%- include('partials/footer'); %>
