<%- include('partials/header'); %>
<title>Dashboard</title>
<%- include('partials/layout') %>
<main>
  <p>Hello welcome to dashboard</p>
  <p>You are <%= locals.name %></p>
</main>
<%- include('partials/footer') %>
