<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
  </head>
  <body>
    <p>Hello welcome to dashboard</p>
    <p>You are <%= locals.role ? role : 'anonymous' %></p>
  </body>
</html>
