<%- include('partials/header'); %>
<title>Delete account</title>
<link rel="stylesheet" href="/css/forms.css" />
<script src="/js/forms.js" defer></script>
<script src="/js/login.js" defer></script>
<%- include('partials/layout'); %>
<!-- ======= Breadcrumbs Section ======= -->
<section class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2>Delete account</h2>
      <ol>
        <li><a href="/">Home</a></li>
        <li>Accounts</li>
        <li>Delete account</li>
      </ol>
    </div>

  </div>
</section><!-- End Breadcrumbs Section -->
<main>
  <div class="form-container">
    <form action="/auth/delete" method="post">
      <div>
        <h2 class="center error">Delete account</h2>
      </div>
      <%- include('partials/alert') %>
      <div>
        <div class="field">
          <label>
            <i class="eye suffix password"></i>
            <input type="password" name="old" placeholder="Old password" maxlength="32" value="" />
            <span>Old password:</span>
          </label>
          <p><span class="error"></span><span class="counter"></span></p>
          <p><span class="hint"></span></p>
        </div>
      </div>
      <div>
        <div class="field">
          <button class="button danger">Delete</button>
        </div>
      </div>
    </form>
  </div>
</main>
<%- include('partials/footer'); %>
