<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Blood bank management System</title>
    </head>
    <body>
        Hello, welcome to bbms site. This is used for blah blah blah. . .
    </body>
</html>
