<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Medical Store Management System</title>
    </head>
    <body>
        Hello, welcome to this site. This is used for blah blah blah. . .
    </body>
</html>
