<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Medilab</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
  <div class="container d-flex social-links justify-content-center align-items-center">
    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
  </div>
</div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">Medilab</a></h1>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link" href="/">Home</a></li>
          <% if (locals.user) { %>
            <li><a href="/dashboard">Dashboard</a></li>
          <% } else { %>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/register">Signup</a></li>
          <% } %>
          <li><a class="nav-link" href="/all">Shops</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
        <div class="dropdown user">
          <button class="user-icon" type="button"><i class="bi bi-person-fill"></i></button>
          <ul>
            <% if (locals.user) { %>
              <h6 class="center"><%= user.name.split(' ')[0].replace(/./, char => char.toUpperCase()) %></h6>
              <li><a href="/dashboard">Dashboard</a></li>
              <li><a href="/profile">My Profile</a></li>
              <li><a href="/auth/logout">Logout</a></li>
            <% } else { %>
              <li><a href="/auth/login">Login</a></li>
              <li><a href="/auth/register">Sign up</a></li>
            <% } %>
          </ul>
        </div>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>Welcome to Medilab</h1>
      <h2>Centralized medical store Management</h2>
      <a href="#services" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Why Choose Medilab?</h3>
              <p>
                Medilab can register to the website and can store the information such as medicine stock, earning, staff information and supplier details of a medical store.
                With this system, retailer can keep a track of their sales and can efficiently order medicines on the basis of sale of specific medicine.
                This also allows retailer to keep a record of current stock of each medicine.
              </p>
              <div class="text-center">
                <a href="#testimonials" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Staffs and suppliers</h4>
                    <p>Manage staffs, suppliers and their details. Add, remove or update staff and supplier details</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Stock and inventory</h4>
                    <p>Manage medicines stock and sales. Add, update or remove medicines from the application</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Orders</h4>
                    <p>Place or cancel orders for medicine. In case of order completion, inventory is automatically updated</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>Manage all these services at ease under a single platform.</p>
        </div>

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-heartbeat"></i></div>
              <h4><a href="/staffs">Staffs</a></h4>
              <p class="fs-6">Manage staffs, staff details and salaries or add new staff. Update existing staff details or upgrade all salaries as a bonus</p>
            </div>
          </div>

          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-pills"></i></div>
              <h4><a href="/suppliers">Suppliers</a></h4>
              <p class="fs-6">Manage suppliers and their details or add new suppliers. Update existing suppliers. These suppliers are used for placing orders</p>
            </div>
          </div>

          <div class="col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-hospital-user"></i></div>
              <h4><a href="/inventory">Inventory</a></h4>
              <p class="fs-6">Manage medicines stock and sales. Add, update or remove medicines from the application</p>
            </div>
          </div>

          <div class="col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-dna"></i></div>
              <h4><a href="/orders">Orders</a></h4>
              <p class="fs-6">Place or cancel orders for medicine. In case of order completion, inventory is automatically updated</p>
            </div>
          </div>
      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <h3>Staffs</h3>
                  <p>
                    Manage staffs, staff details and salaries or add new staff
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <h3>Suppliers</h3>
                  <p>
                    Manage suppliers and their details. Add, remove or update supplier details
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <h3>Inventory</h3>
                  <p>
                    Manage medicines stock and sales. Add, update or remove medicines from the application
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <h3>Orders</h3>
                  <p>
                    Place or cancel orders for medicine. In case of order completion, inventory is automatically updated
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row justify-content-evenly">

          <div class="col-sm-5 footer-contact" id="contact">
            <h3>Contact</h3>
            <ul>
              <li><i class="bi bi-geo-alt"></i><p>
                Address of medilab<br>
                city or region<br>
                State, Pin code<br>
                India
              </p></li>
              <li><i class="bi bi-phone"></i><strong>Phone:</strong>+1 5589 55488 55</li>
              <li><i class="bi bi-envelope"></i><strong>Email:</strong>info@example.com</li>
            </ul>
          </div>

          <div class="col-sm-5" id="about">
            <h3>About us</h3>
            <p>Centralized medical store Management</p>
            <ul>
              <li><i class="bx bx-chevron-right"></i>Manage medicines and sales</li>
              <li><i class="bx bx-chevron-right"></i>Manage staffs and salaries</li>
              <li><i class="bx bx-chevron-right"></i>Place orders on suppliers</li>
              <li><i class="bx bx-chevron-right"></i>Safe and secure administration</li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="credits">
          Made using <a href="https://getbootstrap.com/"></a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/purecounter/purecounter.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <!-- <script src="/assets/vendor/php-email-form/validate.js"></script> -->

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>
  <script src="/js/script.js"></script>

  </body>

  </html>
