<%- include('partials/header'); %>
<title>Medical Store Management System</title>
<%- include('partials/layout'); %>
<main>
  Hello, welcome to this site. This is used for blah blah blah. . .
</main>
<%- include('./partials/footer.ejs'); %>
