<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
    </head>
    <body>
        Hello, welcome to bbms site, you are here at <%= url %>
    </body>
</html>
