<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" />
    <script src="/js/login.js" defer></script>
  </head>
  <body>
    <div class="form-container">
      <form action="/auth/login" method="post">
        <div>
          <h2 class="center">Login</h2>
        </div>
        <div>
          <% if (locals.error) { %>
            <% for (const message of error) { %>
              <div class="alert error">
                <p><%= message %></p>
                <button type="button" class="btn-close"></button>
              </div>
            <% } %>
          <% } %>
          <% if (locals.success) { %>
            <% for (const message of success) { %>
              <div class="alert success">
                <p><%= message %></p>
                <button type="button" class="btn-close"></button>
              </div>
            <% } %>
          <% } %>
        </div>
        <div>
          <div class="field">
            <label>
              <input type="text" name="username" placeholder="Username" />
              <span>Username:</span>
            </label>
            <p><span class="error"></span></p>
            <p><span class="hint"></span></p>
          </div>
        </div>
        <div>
          <div class="field">
            <label>
              <input type="password" name="password" placeholder="Password" />
              <span>Password:</span>
              <i class="eye suffix password"></i>
            </label>
            <p><span class="error"></span></p>
            <p><span class="hint"></span></p>
          </div>
        </div>
        <div>
          <!--<div class="center"><a href="/forgot">Forgot Password</a></div>-->
        </div>
        <div>
          <div class="field">
            <button class="button">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
