<%- include('partials/header'); %>
<title>Medical Store Management System</title>
<%- include('partials/layout'); %>
<main>
  <p>Hello, welcome to this site. This is used for blah blah blah. . .</p>
  <p>Your everything here: <a href="/dashboard">Dashboard</a></p>
  <p>Login page: <a href="/auth/login">Login</a></p>
  <p>New user? <a href="/auth/register">Register</a></p>
  <p>forgot password? <a href="/auth/login#forgot">change it here</a></p>
  <p>Link to change password: <a href="/auth/change">Change password</a></p>
  <p>404 page: <a href="/does/not/exist/">non-existent</a></p>
</main>
<%- include('./partials/footer.ejs'); %>
