:root{
  --primary-clr: #60e;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #fafafa;
}
.center, h2, h1 {
  text-align: center;
}
.hidden {
  display: none;
}
.container-flex {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding: 1em;
}
.button {
  display: inline-block;
  color: #fff;
  background-color: var(--primary-clr);
  padding: 0.5em 1em;
  margin: 0 1em;
  font-family: serif;
  font-size: 1.2rem;
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
.button.small {
  font-size: 0.9rem;
  margin: 0.5em 1em;
}
.button:hover {
  outline: 1px solid #cbf;
  color: #fff;
}
.button:focus {
  box-shadow: 0 0 5px 2px #cae;
  outline: 1px solid #60e;
}
.row {
  display: flex;
  justify-content: center;
}
.accordion {
  width: 32em;
  max-width: 100%;
  margin: 0.5em 0;
  padding: 0.5em;
}
.dll {
  list-style: none;
  padding: 0 1em;
}
.dll li {
  padding: 0.5em;
}
.dll li span:first-child {
  font-size: 1em;
  font-weight: 600;
}
.alert {
  width: 80%;
  max-width: 540px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.alert p {
  margin: 0;
}
.navbar-mobile .user {
  display: none;
}
.footer-top strong {
  padding-right: 0.5rem;
}
#main #hero {
  margin-bottom: 0;
}
#contact li i {
  display: flex;
  width: 2em;
  height: 2em;
  justify-content: center;
  align-items: center;
  color: #1977cc;
  background-color: #d6e9fa;
  border-radius: 50%;
  margin-right: 0.5em;
  position: relative;
  top: 50%;
  transform: translateY(-20%);
}
#contact i:hover {
  background-color: #1977cc;
  color: #fff !important;
}
@media screen and (min-width: 576px) {
  .footer-contact {
    text-align: right;
  }
  .footer-contact li {
    justify-content: flex-end;
  }
}
